doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title Title!
  body
    each record in records
      div
        a(href=`/accounts/${record.accountId}/druglist.html`)=record.accountName
