doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title Title!
    link(href="/public/styles/option2.css" rel="stylesheet")
  body
    .container
      header
        h1
          | Tier A
          br
          | 2021 SaveOnSP Drug List
        span.box
          | Please call 1-800-683-1074 to enroll. Once enrolled, your responsibility will be $0.
        img(src="/public/imgs/saveon.png")
      p
        | Effective February 8, 2021
        br
        | Below are the associated copays for the specialty prescription drugs medications in the SaveOnSP Program. Copays may vary based on the manufacturer allowed amounts for a particular specialty prescription drug. The SaveOnSP Drug List is subject to change at any time. The inclusion of a particular specialty prescription drugs within the SaveOnSP Program is subject to SaveOnSP Program design, as well as applicable laws or regulations. Prescription benefit plan terms will take precedence and determine access to all specialty prescription drugs on SaveOnSP Drug List; medical benefit drugs are excluded from the SaveOnSP Program.
      .items
        each group in grouped
          div.title
            span=group.title
          each item in group.items
            div
              span=(formatName(item.drugName) + (item.exceptionPharmacyDrug ? '*' : ''))
              span=formatCurrency(item.copayAmount)

      footer
        p * Indicates drug not dispensed by Accredo Pharmacy. Continue to fill through approved pharmacy.
