*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
:root {
  --accent-color: #00a6e1;
}
body {
  color: #333;
  font-size: 10pt;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: auto;
}
body > .container > header {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: auto repeat(2, min-content);
  align-items: flex-end;
}
body > .container > header h1 {
  margin: 0;
  font-size: 16pt;
}
.box {
  font-size: 8pt;
  border: 1px solid #666;
  padding: 8px;
  width: 172px;
  font-weight: 600;
}
body > .container > header img {
  align-self: center;
  max-width: 160px;
  max-height: 160px;
}
body > .container > header h1 {
  color: var(--accent-color);
}
body > .container {
  margin: 0 auto;
  max-width: 8in;
}
body > .container > .items {
  padding: 12px 0;
  min-height: 0;
  display: block;
  column-count: 4;
  column-fill: balance;
}
body > .container > .items div {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin-bottom: 6px;
}

body > .container > .items div.title {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 1pt solid black;
  border-color: var(--accent-color);
  color: var(--accent-color);
}
body > .container > .items div span {
  padding: 0 5px;
  overflow: hidden;
  word-wrap: break-word;
}
body > .container > .items div span + span {
  text-align: right;
  align-self: end;
}
@media screen {
  body {
    margin: 40px 0;
  }
}

@media print {
  @page {
    margin: 0.75in;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
}
