*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  min-height: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(84, auto);
  grid-gap: 6px 12px;
}
div {
  page-break-before: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.title {
  grid-row: span 2;
  font-size: 1.4rem;
  position: relative;
  border-bottom: 1px solid black;
}
